 <!DOCTYPE html>
<html>
<head>
    <title>:: Geekskool Blog ::</title>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Playfair+Display:300,400,700' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Poppins:300,400,700' rel='stylesheet' type='text/css'>  

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script id="sdk-js" src="https://cdn.digits.com/1/sdk.js" async></script>
    <script src="js/react.js"></script>
    <script src="js/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>   
    <script src="js/editor/scripts/wysiwyg.js"></script>         
      <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
  <script>tinymce.init({ selector:'textarea' });</script>           

    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <script type="text/javascript">

    document.getElementById('sdk-js').onload = function() {
        Digits.init({ consumerKey: 'MYFeeLrod8xbnfFeQLKhVWs7E' });
    };  
  
    function onLoginButtonClick(event){
        Digits.logIn()
        .done(onLogin) /*handle the response*/
        .fail(onLoginFailure);
    }

    function onLogin(loginResponse){
        var oAuthHeaders = loginResponse.oauth_echo_headers;
        var verifyData = {
            authHeader: oAuthHeaders['X-Verify-Credentials-Authorization'],
            apiUrl: oAuthHeaders['X-Auth-Service-Provider']
        };

        $.post('/verify',verifyData)
        .done(function(res){
            console.log(res)
            var obj = res;

             if (obj.status=='success'){
      console.log(obj)
                        window.location = '/';
                }
              else {
                console.log('failure')
            window.location = '/';
              } 
            });
    }

    function onLoginFailure(loginResponse){
        console.log(loginResponse);
    }

tinymce.PluginManager.add('placeholder', function(editor) {
    editor.on('init', function() {
        var label = new Label;
        
        onBlur();

        tinymce.DOM.bind(label.el, 'click', onFocus);
        editor.on('focus', onFocus);
        editor.on('blur', onBlur);

        function onFocus(){
            label.hide();
            tinyMCE.execCommand('mceFocus', false, editor);
        }

        function onBlur(){
            if(editor.getContent() == '') {
                label.show();
            }else{
                label.hide();
            }
        }
    });

    var Label = function(){
        // Create label el
        this.text = editor.getElement().getAttribute("placeholder");
        this.contentAreaContainer = editor.getContentAreaContainer();

        tinymce.DOM.setStyle(this.contentAreaContainer, 'position', 'relative');

        attrs = {style: {position: 'absolute', top:'5px', left:0, color: '#888', padding: '1%', width:'98%', overflow: 'hidden'} };
        this.el = tinymce.DOM.add( this.contentAreaContainer, "label", attrs, this.text );
    }

    Label.prototype.hide = function(){
        tinymce.DOM.setStyle( this.el, 'display', 'none' );
    }

    Label.prototype.show = function(){
        tinymce.DOM.setStyle( this.el, 'display', '' );   
    }
});

    </script>
</head>
<body>

 <header>
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href id="digits-sdk" onclick="onLoginButtonClick()">Sign In</a></li>
                </ul>

                <h1>Geekskool Blog</h1>
                <h3>Write.  Share.  Learn</h3>
            </header>

            <div id="content"></div>
                        <script type="text/babel">
                var Validate = React.createClass({  
                        getInitialState:function() {
                            return{
                                value:"",
                                titleLabel:"",
                                passLabel:"",
                                submitVar:""
                            }
                        },
                        validateNameFunc:function() {
                            var getTitle = this.refs.title.getDOMNode().value
                                if(getTitle.length < 5) {
                                    this.setState({
                                        titleLabel:"Name is too short",
                                    })
                                }
                                else if(getTitle.length == 0){
                                    this.setState({
                                         titleLabel:""
                                    })
                                }
                                else {
                                    this.setState({
                                        nameLabel:"",
                                        value:this.refs.title.getDOMNode().value                                 
                                    })
                                }
                            },
                        validateBlogFunc:function() {
                            var getBlog = this.refs.pass.getDOMNode().value
                                if(getBlog.length > 15) {
                                    this.setState({
                                        passLabel:"Password is too short"
                                    })
                                }
                                else {
                                    this.setState({
                                        passLabel:""
                                    })
                                }
                            },      
                        submit:function(){
                                this.setState({
                                    submitVar:"Post Submitted"  
                                }) 
                        },                  
                        render:function() {
                            return(
                                <div>
                                <form action="/new_blog" method="post">
                                <fieldset>
                                    <span className="error">{this.state.titleLabel}</span>
                                    <input type="text" ref="title" name="title" placeholder="Enter the title of the post" onChange={this.validateTitleFunc} />
                                    <textarea id="styled" ref="blog" placeholder="Enter your post" name="blog" onChange={this.validateBlogFunc}></textarea>
                                    <input type="submit" ref="submit" value="Post" onClick={this.submit} />
                                    <h5>{this.state.submitVar}</h5>     
                                </fieldset>                         
                                </form>
                                </div>
                                )
                        }
                    })


var Body = React.createClass({
    render:function(){
        return(
            <div className="wrapper">
            <Validate/>
            </div>
        )
    }
})

ReactDOM.render(<Body/>,document.getElementById('content'))

</script>



              <footer>
            Powered by Geekskool.
            </footer


</body>
</html>